<h2 id="description">Description</h2>

<p>
Genit is a command line framework, essentially based on conventions. It should be:
<ol>
  <li><strong>Readable</strong></li>
  <li><strong>Simple</strong></li>
  <li><strong>Minimalist</strong></li>
</ol>
</p>

<p>
Genit is based on the idea that <em>we don't have</em> to learn any new languages to manage templates,
layouts and pages because <strong>XML can do it very well</strong>.
</p>

<p>
For example, to generate the xhtml including the 4 latest news:
</p>
<pre><code> &lt;genit class="news" number="4" /&gt;</code></pre>  
<p>
And more simply, to generate the footer:
</p>
<pre><code> &lt;genit class="footer" /&gt;</code></pre>
