<div class="article">
  <h2>Genit in the real world</h2>

  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200"
             src="public/images/screenshot-genit.jpg"
             alt="Genit screenshot">
        <h3>Genit</h3>
        <p>Genit website is the first using version 2.0 of the genit framework.
          If you are curious, you can 
          <a href="https://github.com/lkdjiin/genit/tree/gh-pages" target="_blank">browse the sources</a>.
          of this site.
        </p>
      </div>
    </li>

    <li class="span4">
      <a href="http://lkdjiin.github.com/tiling/" class="thumbnail" target="_blank">
        <img data-src="holder.js/300x200"
             src="public/images/screenshot-tiling.jpg"
             alt="Tiling screenshot">
        <h3>Tiling</h3>
        <p>Tiling website, made with Genit 1.0.
        </p>
      </a>
    </li>

    <li class="span4">
      <a href="http://lkdjiin.github.com/senet/" class="thumbnail" target="_blank">
        <img data-src="holder.js/300x200"
             src="public/images/screenshot-senet.jpg"
             alt="Senet screenshot">
        <h3>Senet</h3>
        <p>Senet website, made with Genit 1.0.
        </p>
      </a>
    </li>

  </ul>


</div>
