!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Genit - Static web site framework
    %link{:href => "styles/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "styles/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
  %body
    %genit.menu/
    %genit.pages/
