%h1 Welcome to Genit !
%p
  Genit is a framework to build a
  = succeed "," do
    %strong static web site
  that is a web site without server
  side programing language and database. A genit site consists only of xhtml code (+ css, medias and
  eventually javascript).
  %br/
  %br/
  %em Genit is written in Ruby but there is no needs to know the Ruby language.
  %br/
  %br/
  The Genit project is hosted on
  %a{:href => "https://github.com/lkdjiin/genit", :title => "Source code of Genit"} GitHub
  under the terms
  of the MIT license. Feel free to fork it. Each new release will be announced on the
  %a{:href => "http://freshmeat.net/projects/genit", :title => "Genit project on freshmeat"} freshmeat
  site.
  The development progress will be announced on
  = succeed "." do
    %a{:href => "http://twitter.com/lkdjiin"} Twitter
%h1 Get started
%p
  Read the <a href="http://lkdjiin.github.com/genit/documentation/tutorial.html"
  "A short get started tutorial for Genit">tutorial
  first, then have a look at the
  = succeed "." do
    %a{:href => "http://lkdjiin.github.com/genit/documentation/index.html"} documentation
