/* Delete this content and write your own rules */

body {
width:300px;
margin:0 auto;
font-family: Arial, Helvetica, FreeSans, sans-serif;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
margin-top:50px;
}

#menu { display:none;}

p {
font-size:16px;
color:#bbb;
}

p:hover {color:#fff;}

a {
background-color:#003 !important;
color:white !important;
text-decoration:none !important;
}

h1{color:#fff;}

html{background-color:#336;}
